#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: white; */
}

body{
  background-color: white;
  color: black;
  width: 100%;
}

input {
  background-color: white;
  color: black;
}

.budget {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
  border: 1px solid red;
}

ul {
  list-style: none;
}

.nameamountlist {
  display: flex;
  border: 2px solid gray;
}

